@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Vollkorn&display=swap');


/* font-family: 'Vollkorn', serif; */

* {
  margin: 0;
  padding: 0;
  line-height: 1.25;
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: 2rem;
  line-height: 1.05;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
  font-size: .83rem;
}

h6 {
  font-size: .67rem;
}